<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InTheVibeDev</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
</head>

<body class="page-content flex flex-col min-h-screen">
  <main class="w-full max-w-2xl mx-auto px-4 space-y-6">
    <header class="mb-12">
      <nav class="text-2xl font-bold tracking-tight">
        <a href="/">INTHEVIBEDEV</a>
      </nav>
    </header>

    {{ content }}

  </main>

  <footer class="mt-16 text-sm color-secondary text-center">
    © 2025 INTHEVIBEDEV ·
    <a href="https://github.com/inthevibe/">
      <img src="/assets/github.svg" alt="Github" width="15" height="15" class="inline align-middle">
    </a>
    <a href="https://x.com/inthevibedev">
      <img src="/assets/x.png" alt="X" width="15" height="15" class="inline align-middle">
    </a>
    <a href="https://linkedin.com/in/andersonsilvaribeiro">
      <img src="/assets/linkedin.png" alt="LinkedIn" width="15" height="15" class="inline align-middle">
    </a>
  </footer>

</body>

</html>
